#container {
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

blockquote {
  background: white;
  border-left: 10px solid grey;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  text-align:justify;
}

blockquote:before {
  color: #DC143C;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #DC143C;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

blockquote p{
display:inline;
}

.text{
font-weight:bold;
text-align:justify;
}